* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  width: 100vw;
  height: 210px;
  overflow: hidden;
  position: fixed;
  transition: 0.15s;
  z-index: 1000;
}
nav div {
  float: left;
  width: 33.3%;
  height: 100%;
  margin: 0;
}
nav div img {
  width: 200%;
  -webkit-filter: grayscale(100%);
}

body {
  margin: 0;
  background-color: #eee2e2f1;
}

main {
  width: 100vw;
  height: auto;
  padding-top: 210px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 340px auto 340px;
  grid-template-areas: "news social wiki";
}
main section {
  width: auto;
  margin: 10px;
  margin-top: 30px;
}
main .wiki-info-box {
  grid-area: wiki;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
  border-left: 0.8px solid black;
}
main .wiki-info-box p {
  font-size: 0.7em;
}
main .wiki-info-box h1 {
  font-size: 1.3em;
  margin-top: 0;
}
main .wiki-info-box .info {
  height: 200px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "location loc-info" "area are-info" "date dat-info" "visitors vis-info" "body bod-info";
}
main .wiki-info-box .info h2 {
  font-size: 0.7em;
  margin: 0;
  padding: 10px;
}
main .wiki-info-box .info p {
  margin: 0;
  font-size: 0.7em;
  padding: 10px;
}
main .wiki-info-box .info #location {
  grid-area: location;
}
main .wiki-info-box .info #area {
  grid-area: area;
}
main .wiki-info-box .info #establish {
  grid-area: date;
}
main .wiki-info-box .info #visitors {
  grid-area: visitors;
}
main .wiki-info-box .info #body {
  grid-area: body;
}
main .wiki-info-box .info #location-desc {
  grid-area: loc-info;
}
main .wiki-info-box .info #area-desc {
  grid-area: are-info;
}
main .wiki-info-box .info #establish-desc {
  grid-area: dat-info;
}
main .wiki-info-box .info #visitors-desc {
  grid-area: vis-info;
}
main .wiki-info-box .info #body-desc {
  grid-area: bod-info;
}
main .wiki-info-box > div:nth-of-type(1) {
  height: 150px;
  overflow: hidden;
}
main .wiki-info-box > div:nth-of-type(1) img {
  width: 200%;
}
main .wiki-info-box div img {
  -webkit-filter: grayscale(100%);
  width: auto;
}
main .wiki-info-box > p {
  text-align: center;
}
main .side-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
main .side-info p {
  text-align: center;
}
main .social-media {
  grid-area: social;
  padding: 10px;
}
main .social-media > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main .social-media > div:nth-of-type(1) h2 {
  font-size: 0.8em;
  font-weight: 600;
}
main .social-media > div:nth-of-type(1) p {
  font-size: 0.7em;
}
main .social-media > div:nth-of-type(1) img {
  width: 100%;
  align-self: flex-end;
}
main .news {
  grid-area: news;
  margin-left: 20px;
  border-right: 0.8px solid black;
  padding: 10px;
}
main .news div {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main .news div article {
  height: auto;
  border-bottom: 0.8px solid black;
}
main .news div article h2 {
  font-size: 0.8em;
  font-weight: 600;
}
main .news div article p {
  font-size: 0.7em;
}

.smallNav {
  width: 100vw;
  overflow: hidden;
  height: 130px;
}

/*# sourceMappingURL=alternate-main.css.map */
